/* .body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
} */

.whole-bg {
  background-image: linear-gradient(30deg, rgba(6, 20, 128, 0.485), rgba(21, 193, 170, 0.628)),url(https://test.fretron.com/assets/images/background-map.svg);
  background-color: #2da3f1;
  background-size: 100%;
  height: 100vh;
}

.big-card-bg {
  background-color: #ffffff;
  margin-bottom: 100px;
  overflow: hidden;
  height: 530px;
  border-radius: 20px;
  max-width: 1000px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

label {
    font-weight: bold;
    align-items: center;
}

.mainBtn {
  height: 40px;
  width: 100px;
  background-color: #008ae6;
    font-weight: 600;
    font-size: 16px;
}

.secBtn {
  width: 200px;
  height: 40px;
}

.login-input {
  border: 2px solid #00000030;
  background-color: transparent;
  border-radius: 8px;
  line-height: 44px;
  width: 100%;
  /* padding-left: 42px; */
}

.pad-col {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.col-img {
  background-image: url(../../assets/images/img6.jpg);
  background-size: 900px;
  background-position: -85px;
}

.col-img-two {
  background-image: url(../../assets/images/flight2.jpg);
  background-size: 800px;
  background-position: -95px;
}

.logo {
  background-size: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mainHeading {
  padding-left: 10px;
}

.mainText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  width: 250px;
}


