@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.line_bottom {
    display: inline;
    border-bottom: 3px solid orange;
}

input.ng-touched {
    border: 2px solid red;
}

input.ng-valid {
    border: 2px solid green;
}

hr {
    background-color: orange;
}

main {
    padding: 20px;
    margin-left: 20px;
}

.padding {
  padding-left: 40px;
  padding-right: 40px;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 45px;
}

.inputField {
  width: 400px;
}

.inputTwo {
  float: right;
}

.float-container {
  border: 3px solid #3C98E5;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.description {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
