<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <section class="container-fluid px-0">

        <header id="header">
            <app-header></app-header>
        </header>

        <section class="pic-section"></section>

        <main id="main">

            <section class="d-flex justify-content-center align-items-center">
              <div class="mainImage" [style.background-image]="'url(assets/images/'+currentImg+')'"></div>
            </section>

            <section id="featured-services" class="featured-services">

                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 col-12 float-left">
                    <h2 class="line_bottom">About Us</h2>
                    <br>
                    <br>
                    <p class="subheading">
                        CJ Darcl Logistics serves more than 2,000 diverse customers at over 5,000 destinations on a pan-India basis with 174 offices.
                    </p>
                    <p class="description_small">
                        With an asset-light model, the company has a network of around 2 lakh trucks in its portfolio through a reliable and trusted vendor base. CJ Darcl also owns a wide range of 800+ trucks, trailers, pullers, tippers, loaders, dumpers, hydraulic axle, etc.
                        along with 3 containerized Rakes of 80 wagons each and nearly 700 containers.
                    </p>
                    <button class="btn btn-primary" routerLink="/destinations">View our Destinations</button>
                </div>

                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 col-12 float-right">
                    <h2 class="line_bottom">Services we Provide</h2>

                    <br>
                    <br>

                    <div class="icon-box linebefore">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/vicle-orange.png">
                        </div>
                        <h4 class="title">Full Truck Load</h4>
                        <p class="description">
                            Full Truck Load (FTL) services are a stronghold of ours and form part of the core offerings at the CJ Darcl Freight division, including end-to-end multimodal transportation with loading services catered through owned and hired fleet for bulk goods movement
                            on a pan India basis.
                        </p>
                    </div>

                    <div class="icon-box linebefore">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/rail.png">
                        </div>
                        <h4 class="title">Rail/Multimodal Transportation</h4>
                        <p class="description">
                            With an intent of offering rail and multimodal services to customers and providing cost-effective transportation solutions with a lower carbon footprint, we ventured into the rail transportation business in the year 2007, by signing a concession agreement
                            with Northern Railway.
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/project-logistic.png">
                        </div>
                        <h4 class="title">Project Logistics</h4>
                        <p class="description">
                            In the year 2008, we ventured into the handling of project cargo which involves transportation of high value specialized and critical equipment including steel, power (hydro, gas, thermal, solar), oil, and gas including petrochemical complex, cement,
                            infrastructure including for highways and state roads, ports, metros, dedicated freight corridor, bullet train tracks, oil field equipment etc.
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/rail.png">
                        </div>
                        <h4 class="title">Shipping/Coastal</h4>
                        <p class="description">
                            We commenced operating the shipping / coastal service between India and Bangladesh in the year 2017-2018 in association with Pennon Shipping Private Limited. At present, we ensure total responsibility of marketing and generating bookings for the vessels,
                            both SOC and COC.
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/palnt.png">
                        </div>
                        <h4 class="title">Warehousing & Distribution</h4>
                        <p class="description">
                            Our warehousing and distribution management comprises storing products in a warehouse while offering services such as shelf-life maintenance, product mixing, packaging, cross-docking, bar-code scanning, order fulfillment and other ancillary customer services.
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/vicle-orange.png">
                        </div>
                        <h4 class="title">Freight Forwarding</h4>
                        <p class="description">
                            We ventured into freight forwarding vertical in Fiscal 2019, after establishing a relationship with our foreign promoter with a vision to provide a “One-Stop Logistics Solution” to our valuable customers.
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon">
                            <img src="https://www.cjdarcl.com/images/air.png">
                        </div>
                        <h4 class="title">Air Cargo</h4>
                        <p class="description">
                            In line with our vision to offer total logistics solutions to our customers, CJ Darcl ventured into Air Cargo business in 2020.We are authorized cargo agents for all major Airlines.
                        </p>
                    </div>

                </div>

            </section>

        </main>

    </section>

</body>

</html>
